/* Colors of project */
:root {
  --margin-menu-item: 50px;
  --color-logo-footer: #ffffff;
  --color-logo-header: #000000;
  --color-link-header: #757575;
  --bg-btn-hover: #188ce8;
  --color-accent: #2196f3;
  --color-menu-header: #212121;
  --color-board-header: #ececec;
  --color-addredd-footer: #ffffff;
  --color-cta-footer: #ffffff;
  --bg-social-icon-footer: rgba(255, 255, 255, 0.1);
  --color-contact-footer: rgba(255, 255, 255, 0.6);
  --color-input-footer: rgba(255, 255, 255, 0.6);
  --color-board-input-footer: rgba(255, 255, 255, 0.3);
  --color-title-hero: #ffffff;
  --bg-button-primary: #2196f3;
  --color-button-primary: #ffffff;
  --coror-button-secondary: #212121;
  --bg-button-secondary: #f5f4fa;
  --color-h-second: #212121;
  --color-h-third: #212121;
  --color-p: #757575;
  --bg-page: #ffffff;
  --bg-footer: #2f303a;
  --bg-hero: #c4c4c4;
  --bg-header: #ffffff;
  --color-board-card: #eeeeee;
  --bg-section-staff: #f5f4fa;
  --bg-card-staff: #ffffff;
  --color-achievement: #ffffff;
  --bg-achievement: rgba(47, 48, 58, 0.8);
  --gap-h: 30px;
  --gap-v: 30px;
  --width-container: 1200px;
  --width-page: 1600px;
  --padding-container: 15px;
  --padding-section: 94px;
  --padding-hero: 200px;
  --fill-company: #afb1b8;
  --bg-advantage: #f5f4fa;
  --bg-link-social-staff: transparent;
  --color-icon-social-staff: #afb1b8;
  --color-icon-social-staff-hover: #ffffff;
  --color-icon-client: #afb1b8;
  --color-board-client: #afb1b8;
  --dg-client: transparent;
  --radius-board-primary: 4px;
  --duration-primary: 250ms;
  --timing-primary: cubic-bezier(0.4, 0, 0.2, 1);
  --color-overlay-card-portfolio: #ffffff;
  --bg-overlay-card-portfolio: rgba(33, 150, 243, 0.9);
  --bg-backdrop: rgba(0, 0, 0, 0.2);
  --bg-modal: #ffffff;
  --color-board-btn-close: rgba(0, 0, 0, 0.1);
  --padding-modal: 40px;
  --color-text-modal: #757575;
  --color-title-modal: #212121;
  --color-icon-modal: #212121;
  --color-btn-close: #000000;
  --color-board-input-modal: rgba(33, 33, 33, 0.2);
  --color-board-input-modal-accent: #2196f3;
  --color-placeholder-modal: rgba(117, 117, 117, 0.5);
  --color-label-modal: #757575;
  --width-form-modal: 448px;
  --color-btn-submit-modal: #ffffff;
  --shadow-modal: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --shadow-btn: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* body */
body {
  font-family: 'Roboto', 'Arial', sans-serif;
  background-color: var(--bg-page);
  color: var(--color-p);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
}

ul,
li {
  list-style: none;
  text-decoration: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

*:focus-visible {
  outline: none;
}
/* common styles for header and footer*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  min-width: var(--width-container);
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  margin: 0 auto;
  text-align: center;
}

.container {
  width: var(--width-container);
  padding-left: var(--padding-container);
  padding-right: var(--padding-container);

  margin-left: auto;
  margin-right: auto;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;
  padding: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: var(--color-btn-submit-modal);
  box-shadow: var(--shadow-btn);
  background-color: var(--color-accent);
  border: none;
  border-radius: var(--radius-board-primary);
  cursor: pointer;

  transition: background-color var(--duration-primary) var(--timing-primary);
}

.button:hover,
.button:focus {
  background-color: var(--bg-btn-hover);
}

/* Header */
.header {
  min-width: var(--width-container);
  background-color: var(--bg-header);
  border-bottom: 1px solid var(--color-board-header);
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__container {
  display: flex;
  align-items: stretch;
}

.logo {
  display: block;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--color-logo-header);
  text-decoration: none;
}

.logo--accent {
  color: var(--color-accent);
}
.container__logo {
  margin-right: 93px;
}

.navigation__list {
  display: flex;
  height: 100%;
}

.navigation__item,
.contact__item {
  margin-right: var(--margin-menu-item);
}

.navigation__item:last-child,
.contact__item:last-child {
  margin-right: 0;
}

.navigation__link {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--color-menu-header);
  transition: color var(--duration-primary) var(--timing-primary);
}

.navigation__link--current {
  color: var(--color-accent);
}

.navigation__link:hover,
.navigation__link:focus,
.contact__link:hover,
.contact__link:focus {
  color: var(--color-accent);
}

.navigation__link--current::after {
  position: absolute;
  left: 0;
  bottom: -25px;
  content: '';
  background-color: var(--color-accent);
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.contact__list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contact__link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--color-link-header);
  transition: color var(--duration-primary) var(--timing-primary);
}

.contact__icon,
.social__icon {
  display: block;
  fill: currentColor;
}

.contact__icon--prepend {
  margin-right: 10px;
}

/* Footer */
.footer {
  min-width: var(--width-container);
  background-color: var(--bg-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  color: var(--color-logo-footer);
  margin-bottom: 20px;
}

.address__list {
  display: block;
  font-style: normal;
  margin: 0;
}

.address__postaddress {
  line-height: 1.71;
  color: var(--color-addredd-footer);
  margin-bottom: 9px;
}

.address__email {
  display: block;
  text-decoration: none;
  color: var(--color-contact-footer);
  line-height: 1.71;
  margin-bottom: 9px;

  transition: color var(--duration-primary) var(--timing-primary);
}

.address__tel {
  text-decoration: none;
  color: var(--color-contact-footer);
  line-height: 1.71;

  transition: color var(--duration-primary) var(--timing-primary);
}

.address-email:hover,
.address-email:focus,
.address-tel:hover,
.address-tel:focus {
  color: var(--color-accent);
}

.social {
  color: var(--color-cta-footer);
}

.container__social {
  margin-left: 70px;
}

.social__cta,
.sign-up__cta {
  display: block;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social__list {
  display: flex;
}

.social__item {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  color: inherit;
  border: none;
  border-radius: 50%;
  background-color: var(--bg-social-icon-footer);
  padding: 12px;

  transition: background-color var(--duration-primary) var(--timing-primary);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--color-accent);
}

.sign-up {
  color: var(--color-cta-footer);
}

.container__sign-up {
  margin-left: auto;
}

.sign-up__form {
  display: flex;
  align-items: center;
}

.sign-up__input {
  display: flex;
  align-items: center;
  min-width: 358px;
  height: 50px;
  padding: 0;
  padding-left: 16px;
  margin-right: 12px;

  font-size: 16px;
  line-height: 1.25;
  color: var(--color-input-footer);

  background-color: transparent;
  border: 1px solid var(--color-board-input-footer);
  border-radius: var(--radius-board-primary);
}

.sign-up__icon {
  display: inline-block;
  fill: var(--color-btn-submit-modal);
}

.sign-up__icon--append {
  margin-left: 10px;
}
/* styles for index.html/main */

/* Hero */
.hero {
  max-width: 1600px;
  height: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-img.jpg');
  background-size: cover;
  background-color: var(--bg-hero);
  color: var(--color-title-hero);
  text-align: center;
  padding-top: var(--padding-hero);
  padding-bottom: var(--padding-hero);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero-button {
  background-color: var(--bg-button-primary);
  color: var(--color-button-primary);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;

  transition: background-color var(--duration-primary) var(--timing-primary);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--bg-btn-hover);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;

  background-color: var(--bg-backdrop);

  visibility: visible;

  transition: visibility var(--duration-primary) var(--timing-primary);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--width-form-modal);
  text-align: left;
  padding: 0;
}

.form-group-field {
  width: 100%;

  font-size: 16px;
  line-height: 1.125;

  margin-bottom: 20px;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--color-title-modal);
  margin-bottom: 12px;
}

.form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--color-label-modal);
  padding: 0;
  margin-bottom: 4px;
}

.form-field {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  min-height: 40px;
  border: 1px solid var(--color-board-input-modal);
  border-radius: var(--radius-board-primary);

  padding-left: 42px;
  color: var(--color-text-modal);

  transition: border var(--duration-primary) var(--timing-primary);
}

.form-input:focus-within {
  border: 1px solid var(--color-board-input-modal-accent);
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;

  fill: var(--color-icon-modal);

  transition: fill var(--duration-primary) var(--timing-primary);
}

.form-field:focus-within > .input-icon {
  fill: var(--color-accent);
}

.form-textarea {
  display: block;
  width: 100%;
  min-height: 120px;

  border: 1px solid var(--color-board-input-modal);
  border-radius: var(--radius-board-primary);
  color: var(--color-text-modal);

  padding: 12px 16px;
  margin: 0;
  resize: none;

  transition: border var(--duration-primary) var(--timing-primary);
}

.form-textarea:focus-within {
  border: 1px solid var(--color-board-input-modal-accent);
}

.form-textarea::placeholder {
  color: var(--color-placeholder-modal);
}

.form-agreement-label {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-left: 24px;

  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--color-text-modal);
}

.form-agreement-link {
  color: var(--color-accent);
}

.form-agreement-icon-check {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  width: 16px;
  height: 15px;
  opacity: 1;

  transition: opacity var(--duration-primary) var(--timing-primary);
}

.checkbox:checked ~ .form-agreement-icon-check {
  opacity: 0;
}

.form-agreement-icon-checked {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  width: 16px;
  height: 15px;
  opacity: 0;

  fill: var(--color-accent);

  transition: opacity var(--duration-primary) var(--timing-primary);
}

.checkbox:checked ~ .form-agreement-icon-checked {
  opacity: 1;
}

.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  transition: visibility var(--duration-primary) var(--timing-primary);
}

.modal {
  position: relative;
  padding: var(--padding-modal);
}

.backdrop.is-hidden .modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(0.2);
  opacity: 0;
}

.backdrop .modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);
  opacity: 1;

  background-color: var(--bg-modal);
  border-radius: var(--radius-board-primary);
  box-shadow: var(--shadow-modal);

  transition: opacity var(--duration-primary) var(--timing-primary),
    transform var(--duration-primary) var(--timing-primary);
}

.modal-close-icon {
  display: block;
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  color: var(--color-btn-close);
  border: 1px solid var(--color-board-btn-close);
  border-radius: 50%;
  cursor: pointer;
  background-color: inherit;

  transition: color var(--duration-primary) var(--timing-primary);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  color: var(--color-accent);
}

/* Peculiarities */

.perculiarities-list {
  display: flex;
  margin-left: calc(-1 * var(--gap-h));
  margin-top: calc(-1 * var(--gap-v));
}

.perculiarities-item {
  flex-basis: calc(100% / 4 - var(--gap-h));
  margin-left: var(--gap-h);
  margin-top: var(--gap-v);
}

.perculiarities-item-icon {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-advantage);
  margin-bottom: 30px;
}

.icon-antenna-size {
  width: 65.32px;
  height: 70px;
}

.icon-vector-size {
  width: 89.69px;
  height: 70px;
}

.icon-clock-size {
  width: 70px;
  height: 70px;
}

.icon-astronaut-size {
  width: 79.31px;
  height: 70px;
}
.peculiarities-title {
  display: block;
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-h-third);
  margin-bottom: 10px;
}

.peculiarities-p {
  line-height: 1.71;
  text-align: left;
}
/* destinations */
.destinations {
  padding-top: 0;
}

.destinations-title,
.team-title,
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--color-h-second);
  margin-bottom: 50px;
}

.destinations-list {
  display: flex;
  justify-content: space-between;
}

.destinations-item {
  position: relative;
}

.destination-description {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-achievement);
  background-color: var(--bg-achievement);
}
/* Our team */
.team {
  background-color: var(--bg-section-staff);
}

.team-cards {
  display: flex;
  margin-left: calc(-1 * var(--gap-h));
  margin-top: calc(-1 * var(--gap-v));
}

.team-card {
  flex-basis: calc(100% / 4 - var(--gap-h));
  margin-left: var(--gap-h);
  margin-top: var(--gap-v);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-description {
  background-color: var(--bg-card-staff);
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--color-h-third);
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--color-p);
  background-color: var(--bg-card-staff);
  margin-bottom: 16px;
}

.team-social-items {
  display: flex;
  justify-content: center;
}

.team-social-item:not(:last-child) {
  margin-right: 10px;
}

.team-social-link {
  display: block;
  padding: 12px;
  border: none;
  border-radius: 50%;
  background-color: var(--bg-link-social-staff);
  list-style: none;
  margin: 0;
  color: var(--team-social-icons-color);
  cursor: pointer;

  transition: color var(--duration-primary) var(--timing-primary);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--color-accent);
  color: var(--color-icon-social-staff-hover);
}

.clients-list {
  display: flex;
  margin-left: calc(-1 * var(--gap-h));
  margin-top: calc(-1 * var(--gap-v));
}

.clients-list-item {
  flex-basis: calc(100% / 6 - var(--gap-h));
  margin-left: var(--gap-h);
  margin-top: var(--gap-v);
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  width: 170px;
  height: 92px;
  color: var(--color-icon-client);
  background-color: var(--dg-client);
  border: 1px solid var(--color-board-client);
  border-radius: var(--radius-board-primary);

  transition: color var(--duration-primary) var(--timing-primary),
    border var(--duration-primary) var(--timing-primary);
}

.clients-list-link:hover,
.clients-list-link:focus {
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

.icon-company1-size {
  width: 41px;
  height: 46.85px;
}

.icon-company2-size {
  width: 40px;
  height: 52px;
}

.icon-company3-size {
  width: 43.46px;
  height: 41.18px;
}

.icon-company4-size {
  width: 72px;
  height: 40.62px;
}

.icon-company5-size {
  width: 62.54px;
  height: 45.43px;
}

.icon-company6-size {
  width: 93.79px;
  height: 43.93px;
}

.social-icon-size {
  width: var(--social-icon-width);
  height: var(--social-icon-height);
}
/* styles for portfolio.html/main */

.filter-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button {
  background-color: var(--bg-button-secondary);
  color: var(--coror-button-secondary);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 6px 22px;

  transition: color var(--duration-primary) var(--timing-primary),
    background-color var(--duration-primary) var(--timing-primary),
    box-shadow var(--duration-primary) var(--timing-primary);
}

.filter-buttons-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--bg-button-primary);
  color: var(--color-button-primary);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.accent-button {
  background-color: var(--bg-button-primary);
  color: var(--color-button-primary);
}

.portfolio-card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--gap-h));
  margin-top: calc(-1 * var(--gap-v));
  text-align: left;
}

.portfolio-card-item {
  flex-basis: calc(100% / 3 - var(--gap-h));
  margin-left: var(--gap-h);
  margin-top: var(--gap-v);
}

.portfolio-link {
  display: block;
  text-decoration: none;
  color: inherit;

  transition: box-shadow var(--duration-primary) var(--timing-primary);
}

.potfolio-thumb {
  position: relative;
  overflow: hidden;

  /* transition: transform var(--duration-primary) var(--timing-primary); */
}

.portfolio-thumb-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  color: var(--color-overlay-card-portfolio);
  background-color: var(--bg-overlay-card-portfolio);

  transform: translatey(100%);
  transition: transform var(--duration-primary) var(--timing-primary);
}

.portfolio-overlay-text {
  font-size: 18px;
  line-height: 1.555;
  padding: 0 24px;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio-link:hover .portfolio-thumb-overlay,
.portfolio-link:focus .portfolio-thumb-overlay {
  transform: translatey(0);
}

.portfolio-card {
  border: 1px solid var(--color-board-card);
  border-top: none;
  padding: 20px 24px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-h-second);
  margin-bottom: 4px;
}

.portfolio-text {
  display: block;
  font-size: 16px;
  line-height: 1.88;
}

/* Color accent */
.accent {
  color: var(--color-accent);
}
